<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tous les aliments conservés au Freezer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor ="let foodItem of allFoodInFreezer">
      <ion-item>
        <ion-label>
          <h2>{{foodItem.foodName}}</h2>
          <p>Ajouté {{foodItem.datePlacedInFreezer | date}}</p>
        </ion-label>
      </ion-item>
    <ion-item-options side ="end">
    <ion-item-option *ngIf="foodItem.id" (click)="edit(foodItem.id)">Edit</ion-item-option>
    <ion-item-option *ngIf="foodItem.id" color="danger" (click)="delete(foodItem.id)">Delete</ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<div class = "spin" *ngIf="isLoading" > 
  <ion-spinner name = "refresh-outline"></ion-spinner>
</div>
